@font-face {
	font-family: 'Exo';
	src: url('/assets/fonts/exo/Exo-Regular.ttf') format('truetype');;
	font-display: swap
}

* {
	font-family: "Exo", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
	scroll-behavior: smooth;
}

.domanda {
    font-style: italic;
    padding-bottom: 3px;
}

.risposta {
	padding-bottom: 15px;
}

img{
	border-radius: 5px;
}

.vectorial-image {
	width: 250px;
	height: 250px;
}

/* contenitore base */
.image-container {
	width: 250px;
	height: 250px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	margin: 10px;
}
 
/* immagine al interno del contenitore */
.image-container img {
	width: 100%;
	height: 100%;
	position: absolute;
}
 
/* contenitore con didascalia */
.image-container .image-caption {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.74);
	text-align: center;
}
 
/* titolo */
.image-caption h2 {
	margin-top: 50px;
	color: #fffefe;
	font-weight: 300;
}
 
/* descrizione dell'immagine  */
.image-caption p {
	color: #fff;
}
 
/* Tipi di animazioni apparizione didascalie */
 
/* animazione da sinistra*/
 
.image-container .caption-1 {
	left: -260px;
	transition: all 0.5s;
}
.image-container:hover .caption-1 {
	left: 0;
	transition: all 0.5s;
}

/*FA*/

.fa-discord {
	color: rgb(114, 137, 218);
}
.fa-whatsapp {
	color: rgb(0, 230, 118);
}
.fa-instagram {
	color: #f14c5c;
}
.fa-mastodon {
	color: #563acc;
}
.fa-youtube-play {
	color: #ff0000;
}
.fa-spotify {
	color: #1DB954;
}
.fa-facebook-square, .fa-facebook {
	color: #087cea;
}

.textboxfull {
	width: 100%;
}


/*Hover Overline colorate (personalizzazione di hover.css)*/
.hvr-overline-reveal-discord {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-overline-reveal-discord:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	background: rgb(114, 137, 218);
	height: 4px;
	-webkit-transform: translateY(-4px);
	transform: translateY(-4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-overline-reveal-discord:hover:before, .hvr-overline-reveal-discord:focus:before, .hvr-overline-reveal-discord:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.hvr-overline-reveal-whatsapp {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-overline-reveal-whatsapp:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	background: rgb(0, 230, 118);
	height: 4px;
	-webkit-transform: translateY(-4px);
	transform: translateY(-4px);
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-overline-reveal-whatsapp:hover:before, .hvr-overline-reveal-whatsapp:focus:before, .hvr-overline-reveal-whatsapp:active:before {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
